* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: padding-box;
}

.loading {
    width: 160px;
    height: 120px;
    margin: 20% 0 20% 0;
}

.white-div-loading, #big-white-div-loading {
    text-align: center;
    background-color: ghostwhite;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.8;
}

#spanCbCompareBP, #spanCbCompareCB, #spanCbCompareBPThuTuc, #spanCbCompareCBThuTuc,
#cbCompareBP, #cbCompareCB, #cbCompareBPThuTuc, #cbCompareCBThuTuc
{
    cursor: pointer;
}

.compareBP, .compareCB {
    float: right;
    height: 2em;
    width: 4em;
    cursor: pointer;
    line-height: 2em;
}

.span.k-icon.k-i-arrows-swap.compareBP, span.k-icon.k-i-arrows-swap.compareCB {
    width: 2em;
}

#banner {
    height: 10%;
    background-color: red
}

    #banner img {
        height: 80%;
        margin: 0.5em 0 0 0
    }

    #banner span {
        position: absolute;
        top: 0.5em;
        color: yellow
    }

        #banner span:last-child {
            position: absolute;
            top: 1.8em;
            color: yellow;
            font-size: 1.1em;
            left: 6.5em;
        }

div#div-loai-dang-nhap div {
    float: left;
    margin: 0 1em;
    line-height: 2.5em;
}

#div-chon-can-bo div {
    float: left;
    margin: 0 1em;
}

#year-group-thu-tuc-th div, #year-group-thu-tuc-bp div, #year-group-thu-tuc-cb div {
    width: 44%;
    margin: 3%;
    float: left;
}

div#year-group-thu-tuc div {
    width: 50%;
    display: inline;
}

div#year-group-thu-tuc-th, div#year-group-thu-tuc-bp, div#year-group-thu-tuc-cb {
    width: 50%;
    padding: 0 25%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
}

.btnBP, .btnTK, .btnBPThuTuc {
    text-align: center;
    display: block;
    margin: 1em 5%;
}

.btnBP {
    margin: 1em 5%;
}

.hide {
    transition: 0.4s;
    display: none;
}

.show {
    transition: 0.4s;
    display: block;
}

.border-style {
    margin: 2em 0 0 0;
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
}

.title-border-style {
    background-color: #cecece;
    border: #cecece;
    margin: 2em 5em 2em 5em
}

h3 {
    height: 2em;
    line-height: 2em;
    margin-left: 2em;
}

.k-tabstrip:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.table {
    padding: 0 1em 0 1em;
}

hr {
    clear: both;
}

.div-diem-xeploai {
    font-size: 1.3em;
    padding: 1em 5%;
    box-sizing: border-box;
}

.diem-xeploai {
    margin: 3% 0 0 0;
}

.scroll-bp-cb {
    display: block;
    max-height: 14em;
    overflow: auto;
}

.scroll-bp-cb-tt {
    display: block;
    max-height: 26em;
    overflow: auto;
}

.k-widget.k-maskedtextbox.k-state-disabled {
    width: 100%;
}

#body-thu-tuc-left {
    width: 70%;
    float: left;
}

#body-thu-tuc-right {
    width: 30%;
    float: right;
}

#table-core-cb, #table-core-thu-tuc-cb {
    width: 30%;
    float: right;
    padding: 2em 1em;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin: 2.5em 0;
}

#info-left, #info-right, #info-thu-tuc-left, #info-thu-tuc-right {
    font-size: 1.3em;
    font-weight: 100;
    line-height: 2em;
}

/*
            Use the DejaVu Sans font for display and embedding in the PDF file.
            The standard PDF fonts have no support for Unicode characters.
        */
.k-grid {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    font-size: 11.5px;
}

    .k-grid td {
        line-height: 2em;
    }

/* Page Template for the exported PDF */
.page-template {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .page-template .header {
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        border-bottom: 1px solid #888;
        color: #888;
    }

    .page-template .footer {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        border-top: 1px solid #888;
        text-align: center;
        color: #888;
    }

    .page-template .watermark {
        font-weight: bold;
        font-size: 400%;
        text-align: center;
        margin-top: 30%;
        color: #aaaaaa;
        opacity: 0.1;
        transform: rotate(-35deg) scale(1.7, 1.5);
    }

/* Content styling */
.customer-photo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
    margin-left: 5px;
}

kendo-pdf-document .customer-photo {
    border: 1px solid #dedede;
}

.customer-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 3px;
}

.k-tabstrip-items.k-reset {
    background-color: #3f51b5;
}

#thang-dang-nhap, #nam-dang-nhap {
    width: 50%
}

#div-loai-dang-nhap .k-widget.k-datepicker.k-header.k-input {
    width: 50%
}

.title-report {
    margin: 1em 0 1em 0;
    padding: 0.8em;
    text-align: center;
    font-size: 1.8em
}

.title-report-export {
    /*width: 47%;*/
    /*margin: 0 28%;*/
    font-size: 1.8em
}

div#grid-report-1, div#grid-report-2, div#grid-report-3 {
    border: 0
}

.title-pw {
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1.5em;
    background-color: #3f51b5;
    color: white;
}

.input-pw {
    width: 100%
}

.input-lb-pw {
    padding: 1em 0 0 0;
}

.div-pw {
    margin: 5% 30% 0 30%;
    width: 40%;
    border: 1px solid #3f51b5;
    border-radius: 15px;
    overflow: hidden;
}

.sub-div-pw {
    padding: 1em;
}

span.k-widget.k-maskedtextbox {
    width: 100%
}

.div-btn-change {
    margin: 1em 0 0 0;
    text-align: center;
}

#cb-all-cb, #div-month-circle-cb > div:first-child > span,
#cb-all, #div-month-circle > div:first-child > span,
#cb-all-th, #month-group-th > div:first-child > span {
    cursor: pointer;
}

#cbx-month-thu-tuc-th, #year-group-thu-tuc-th div:first-child label,
#cbx-year-thu-tuc-th, #year-group-thu-tuc-th div:last-child label,
#cbx-month-thu-tuc-bp, #year-group-thu-tuc-bp div:first-child label,
#cbx-year-thu-tuc-bp, #year-group-thu-tuc-bp div:last-child label,
#cbx-month-thu-tuc-cb, #year-group-thu-tuc-cb div:first-child label,
#cbx-year-thu-tuc-cb, #year-group-thu-tuc-cb div:last-child label,
#cbx-thang-dang-nhap, #div-loai-dang-nhap div:first-child div:first-child label,
#cbx-nam-dang-nhap, #div-loai-dang-nhap div:last-child div:first-child label {
    cursor: pointer;
}

#div-danh-muc-API div {
    padding: 1em 2em
}

#div-danh-muc-API span.k-widget.k-maskedtextbox {
    width: 20%;
    margin: 0 1em;
}

@media screen and (min-width: 1024px) {
    #banner {
        height: 10%;
        background-color: red
    }

        #banner img {
            height: 80%;
            margin: 0.5em 0 0 0
        }

        #banner span {
            position: absolute;
            top: 0.5em;
            color: yellow;
            font-size: 1.2em;
        }

            #banner span:last-child {
                position: absolute;
                top: 1.2em;
                color: yellow;
                font-size: 1.8em;
                left: 9.5em;
            }
}

@media screen and (min-width: 1440px) {
    #banner {
        height: 10%;
        background-color: red
    }

        #banner img {
            height: 80%;
            margin: 0.5em 0 0 0
        }

        #banner span {
            position: absolute;
            top: 0.3em;
            color: yellow;
            font-size: 1.5em;
        }

            #banner span:last-child {
                position: absolute;
                top: 1em;
                color: yellow;
                font-size: 2em;
                left: 14.5em;
            }
}
