* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

div#open {
    position: absolute;
    left: 100%;
    top: 0%;
    background-color: #fff;
    /* width: 3em; */
    /* height: 1.5em; */
    font-size: 0.8em;
    border-bottom-right-radius: 10px;
    /* border-top-right-radius: 10px; */
    padding: 0.5em;
    text-align: center;
    font-weight: 100;
}

div#black-span {
    height: 100%;
    width: 20%;
    float: right;
    background-color: black;
    opacity: 0.7;
}

div#list-view {
    height: 100%;
    width: 80%;
    float: left;
    background-color: azure;
    position: relative;
}

div#black {
    width: 100%;
    height: 100%;
    /* background-color: black; */
    position: absolute;
    opacity: 1;
}

div#black {
    /*transform: translateX(-100%);*/
    transition: 0.4s;
    left: -100%;
}

div#btn-group {
    height: 40%;
    /* position: relative; */
    text-align: center;
}

div#number {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

div#title-number {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
}

div#number-group {
    height: 60%;
}

div#title {
    height: 60%;
    position: relative;
}

div#footer {
    background-color: #77a;
    height: 10%;
    position: relative;
    padding: 0.6em 0;
    text-align: center;
}

div#info-right {
    float: right;
    width: 70%;
}

div#info-left {
    float: left;
    width: 30%;
    font-weight: bold;
}

div#time-group, div#quay-group {
    /* padding-bottom: 0.3em; */
}

div#time, div#quay {
    /* display: inline; */
    /* padding-bottom: 0.3em; */
}

div#info {
    padding: 1em;
    font-size: 1em;
    height: 40%;
    line-height: 165%;
}

div#body {
    width: 100%;
    height: 80%;
    background-color: #fff;
}

div#header div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

div#header {
    width: 100%;
    height: 10%;
    background-color: #f1f1f1;
    position: relative;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}

html {
    overflow: hidden;
}

div#container {
    width: 100%;
    height: 100%;
    position: absolute;
}


@media screen and (min-width: 600px) {
    div#black {
        width: 30%;
        left: -30%;
    }

        div#black div#list-view {
            width: 100%;
        }

    div#black-span {
        width: 0%;
    }

    div#header div {
        font-size: 1.8em;
    }

    div#info {
        padding: 1em 12em;
        font-size: 1em;
        line-height: 140%;
    }

    div#info-right {
        /* float: right; */
        width: 70%;
    }

    div#info-left {
        /* float: left; */
        width: 30%;
        /* font-weight: bold; */
    }
}

@media screen and (min-width: 1024px) {
    div#black {
        width: 25%;
        left: -25%;
    }

        div#black div#list-view {
            width: 100%;
        }

    div#header div {
        font-size: 2em;
    }

    div#info {
        padding: 1em 15em;
        line-height: 170%;
    }

    div#info-right {
        float: right;
        width: 70%;
    }

    div#info-left {
        float: left;
        width: 30%;
        font-weight: bold;
    }
}

@media screen and (min-width: 1025px) {
    body {
        max-width: 1440px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    div#header div {
        font-size: 2.2em;
    }

    div#info {
        padding: 1em 18em;
        font-size: 1.2em;
        line-height: 150%;
    }

    div#info-right {
        float: right;
        width: 80%;
    }

    div#info-left {
        float: left;
        width: 20%;
        font-weight: bold;
    }

    div#info {
    }

    .k-grid-content.k-auto-scrollable.km-widget.km-native-scroller {
        height: 78%;
    }
}

.move-right {
    transform: translateX(100%);
}
