@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Máy lấy số tự động</title>
    <link rel="shortcut icon" href="~/quoc-huy.ico" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
</head>
<body>
    <div id="banner">
        <img src="~/favicon.png" />
        <span>THÀNH PHỐ HỒ CHÍ MINH</span>
        <span>ỦY BAN NHÂN DÂN QUẬN TÂN BÌNH</span>
    </div>
    <div id="container" style="height: 90%">
        <table>
            <thead>
                <tr>
                    <th colspan="3">
                        <div id="title">
                            MÁY LẤY SỐ TỰ ĐỘNG
                        </div>
                    </th>
                </tr>
                <tr>
                    <th colspan="3"><div id="title-left">CHỌN BỘ PHẬN</div></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="ticket-printer" hidden="hidden">
        <div style="text-align:center;width: 45%;margin: 0px 30%;line-height: 2em;border: 1px solid;padding: 1% 0;">
            <div style="text-align: center"><img src="~/images/quoc-huy.jpg" style="width: 50px; height: 50px" /></div>
            <hr style="width: 80%" />
            <div style="text-align:center; font-size: 1.2em">TP HỒ CHÍ MINH</div>
            <div style="text-align:center; font-size: 1.2em">UBND QUẬN TÂN BÌNH</div>
            <div style="text-align:center">SỐ THỨ TỰ</div>
            <div style="text-align:center;font-size: 3em;padding: 5% 0;" id="number-ticket"></div>
            <div style="text-align:center;display: inline;">BỘ PHẬN: </div>
            <div style="text-align:center;display: inline;" id="bo-phan-ticket"></div>
            <div style="text-align:center;width: 80%;padding: 5% 10% 0 10%;">QUÝ KHÁCH VUI LÒNG CHỜ, SỐ PHIẾU CỦA QUÝ KHÁCH SẼ ĐƯỢC GỌI KHI ĐẾN LƯỢT</div>
            <hr style="width: 80%" />
            <div style="text-align:center" id="date-ticket"></div>
        </div>
    </div>
</body>
</html>

<script>
    // Lấy địa chỉ IP
    var url = window.location.origin + "/MayLaySo";
    // Tạo danh sách các nút bộ phận và số thứ tự
    function createGroupBP() {
        $.ajax({
            url: url + "/Home/GetBP",
            type: "GET",
            dataType: "json",
            async: false,
            success: function (result) {
                if (result == false) {
                    $("tbody").html("");
                    alert("Lỗi kết nối");
                } else {
                    var js = JSON.parse(result);
                    var str = "";
                    var i = 0;
                    $.each(js, function (key, val) {
                        if (i == 0) {
                            str += "<tr>";
                        }
                        str += "<td style='width: 32%; padding: 1%'><div id='" + val.MaBP + "' class='btn'>" + val.TenBP + "</div></td>";
                        i++;
                        if (i == 3) {
                            str += "</tr>";
                            i = 0;
                        }
                    });
                    $("tbody").html(str);
                    createButtonBP();
                }
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
    }
    // Nút tên bộ phận: tạo phương thức click
    function onClickBtnBP(e) {
        var mabp = $(e.event.target).attr("id");
        var id = 'number' + mabp;
        $.ajax({
            url: url + "/Home/GetSTT",
            type: "GET",
            dataType: "json",
            data: { "_MaBP": mabp },
            async: false,
            success: function (result) {
                if (result == false) {
                    $("tbody").html("");
                    alert("Lỗi kết nối");
                } else {
                    var today = new Date();
                    var HH = today.getHours();
                    var MM = today.getMinutes();
                    var SS = today.getSeconds();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; //January is 0!
                    var yyyy = today.getFullYear();
                    if (dd < 10) { dd = '0' + dd }
                    if (mm < 10) { mm = '0' + mm }
                    if (HH < 10) { HH = '0' + HH }
                    if (MM < 10) { MM = '0' + MM }
                    if (SS < 10) { SS = '0' + SS }
                    today = "Ngày: " + dd + '/' + mm + '/' + yyyy + " - " + HH + ":" + MM + ":" + SS;
                    $("#number-ticket").text(result);
                    $("#bo-phan-ticket").text($(e.event.target).text());
                    $("#date-ticket").text(today);
                    printDiv()
                    $("#" + id).text(result);
                }
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
    // Nút tên bộ phận: tạo form nút
    function createButtonBP() {
        $(".btn").each(function (index) {
            $(this).kendoButton({
                click: onClickBtnBP
            });
        });
    }
    // In phiếu số thứ tự
    function printDiv() {

        var divToPrint = document.getElementById('ticket-printer');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()" style="text-align:center">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);

    }
    $(document).ready(function () {
        createGroupBP();
    })
</script>
<link href="~/Content/style1.css" rel="stylesheet" />