
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang chủ</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: padding-box;
            box-sizing: padding-box;
        }

        html, body {
            height: 100%;
            width: 100%;
        }

        #container {
            text-align: center;
        }

        #bo-phan {
            float: left;
            width: 80%;
        }

        #number {
            float: right;
            width: 20%
        }

        .btnBP {
            text-align: center;
            display: block;
            margin: 1em 10%;
            height: 7em;
            line-height: 7em;
        }
    </style>

</head>

<body>
    <div id="container">
        <div id="bo-phan"></div>
        <div id="number"></div>
    </div>
</body>
</html>

<script>
    $.ajax({
        url: window.location.origin + "/Home/GetBP",
        type: "GET",
        dataType: "json",
        success: function (result) {
            var js = JSON.parse(result);
            var str = "";
            var str1 = "";
            $.each(js, function (key, val) {
                console.log(val.MaBP + " - " + val.TenBP + " - " + val.NumberBP)
                str += "<div id='" + val.MaBP + "' class='btnBP'>" + val.TenBP + "</div>";
                str1 += "<div id='number" + val.MaBP + ">" + val.NumberBP + "</div>";
            });
            $("#bo-phan").html(str);
            $("#number").html(str1);
            createButtonBP();
        },
        error: function (xhr) {
            console.log(xhr.responseText);
        }
    })

    // Nút tên bộ phận: tạo phương thức click
    function onClickBtnBP(e) {
        clickBP = false;
        setTimeout(function () {
            mabp = $(e.event.target).attr("id");
        }, 500);
    }

    // Nút tên bộ phận: tạo form nút
    function createButtonBP() {
        $(".btnBP").each(function (index) {
            $(this).kendoButton({
                click: onClickBtnBP
            });
        });
    }
</script>