@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Máy lấy số tự động</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.mobile.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />

    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
</head>
<body>
    <div id="container">
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        <div id="title">
                            MÁY LẤY SỐ
                            <span id="setting" class="k-icon k-i-custom" style="float: right; cursor: pointer" onclick="custom()"></span>
                            <span id="refresh" class="k-icon k-i-refresh" style="float: right; cursor: pointer" onclick="refresh()"></span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th><div id="title-left">CHỌN BỘ PHẬN</div></th>
                    <th><div id="title-right">SỐ</div></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>
</html>

<script>
    // Tạo danh sách các nút bộ phận và số thứ tự
    function createGroupBP() {
        $.ajax({
            url: window.location.origin + "/Home/GetBP",
            type: "GET",
            dataType: "json",
            async: false,
            success: function (result) {
                console.log(window.d = result);
                if (result == false) {
                    $("tbody").html("");
                    alert("Lỗi kết nối");
                } else {
                    var js = JSON.parse(result);
                    var str = "";
                    $.each(js, function (key, val) {
                        str += "<tr><td><div id='" + val.MaBP + "' class='btn'>" + val.TenBP + "</div></td>";
                        str += "<td><div class='number' id='number" + val.MaBP + "'>" + val.NumberBP + "</div></td></tr>";
                    });
                    $("tbody").html(str);
                    createButtonBP();
                }
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
    }
    // Nút tên bộ phận: tạo phương thức click
    function onClickBtnBP(e) {
        var mabp = $(e.event.target).attr("id");
        var id = 'number' + mabp;
        $.ajax({
            url: window.location.origin + "/Home/GetSTT",
            type: "GET",
            dataType: "json",
            data: { "_MaBP": mabp },
            async: false,
            success: function (result) {
                if (result == false) {
                    $("tbody").html("");
                    alert("Lỗi kết nối");
                } else {
                    $("#" + id).text(result);
                }
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
    // Nút tên bộ phận: tạo form nút
    function createButtonBP() {
        $(".btn").each(function (index) {
            $(this).kendoButton({
                click: onClickBtnBP
            });
        });
    }
    // Nút refresh thông tin
    function refresh() {
        createGroupBP();
    }
    // Nút setting địa chỉ IP
    function custom() {
        var ip = prompt("Địa chỉ IP: ");
        var id = prompt("Mã xác nhận: ");
        $.ajax({
            url: window.location.origin + "/Home/SettingIP",
            type: "GET",
            dataType: "json",
            data: { "ip": ip, "id": id },
            success: function (result) {
                if (result == true) alert("Thay đổi thành công");
                else alert("Thay đổi không thành công. Vui lòng kiểm tra lại thông tin");
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
    }
    $(document).ready(function () {
        createGroupBP();
    })
</script>