@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Máy lấy số tự động</title>
    <link rel="shortcut icon" href="~/quoc-huy.ico" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
</head>
<body>
    <div id="banner">
        <img src="~/favicon.png" />
        <span>THÀNH PHỐ HỒ CHÍ MINH</span>
        <span>ỦY BAN NHÂN DÂN QUẬN TÂN BÌNH</span>
    </div>
    <div id="container" style="height: 90%">
        <table>
            <thead>
                <tr>
                    <th colspan="3">
                        <div id="title">
                            MÁY LẤY SỐ TỰ ĐỘNG
                        </div>
                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        <div id="list-printer-name"></div>
                        <div id="printer-name"></div>
                    </th>
                </tr>
                <tr>
                    <th colspan="3"><div id="title-left">CHỌN BỘ PHẬN</div></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>
</html>

<script>
    // Lấy địa chỉ IP
    var url = window.location.origin + "/MayLaySo";
    var printer_name = "";
    // Phương thức lấy thông tin danh sách máy in
    function getPrinterName() {
        var arr = new Array();
        $.ajax({
            url: url + "/Home/GetPrinterName",
            type: "GET",
            dataType: "json",
            async: false,
            success: function (result) {
                $.each(result, function (key, val) {
                    var a = { "text": val, "value": val }
                    arr.push(a)
                })
                $("#list-printer-name").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: arr,
                    select: onSelect
                })
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
    }
    // Tạo sự kiện cho hành động chọn của DropDownList
    function onSelect(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;
            printer_name = dataItem.value;
            $("span.k-widget.k-dropdown.k-header").fadeOut();
            $("#printer-name").text(dataItem.text);
        } else { }
    };
    // Tạo danh sách các nút bộ phận và số thứ tự
    function createGroupBP() {
        $.ajax({
            url: url + "/Home/GetBP",
            type: "GET",
            dataType: "json",
            async: false,
            success: function (result) {
                if (result == false) {
                    $("tbody").html("");
                    alert("Lỗi kết nối");
                } else {
                    var js = JSON.parse(result);
                    var str = "";
                    var i = 0;
                    $.each(js, function (key, val) {
                        if (i == 0) {
                            str += "<tr>";
                        }
                        str += "<td style='width: 32%; padding: 1%'><div id='" + val.MaBP + "' class='btn'>" + val.TenBP + "</div></td>";
                        i++;
                        if (i == 3) {
                            str += "</tr>";
                            i = 0;
                        }
                    });
                    $("tbody").html(str);
                    createButtonBP();
                }
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
    }
    // Nút tên bộ phận: tạo phương thức click
    function onClickBtnBP(e) {
        if (printer_name != "") {
            var mabp = $(e.event.target).attr("id");
            var tenbp = $(e.event.target).text();
            var id = 'number' + mabp;
            $.ajax({
                url: url + "/Home/GetSTT",
                type: "GET",
                dataType: "json",
                data: { "_MaBP": mabp, "_TenBP": tenbp, "_PrinterName": printer_name },
                async: false,
                success: function (result) {
                    console.log(result)
                    if (result == false) {
                        $("tbody").html("");
                        alert("Lỗi kết nối");
                    } else {
                        var today = new Date();
                        var HH = today.getHours();
                        var MM = today.getMinutes();
                        var SS = today.getSeconds();
                        var dd = today.getDate();
                        var mm = today.getMonth() + 1; //January is 0!
                        var yyyy = today.getFullYear();
                        if (dd < 10) { dd = '0' + dd }
                        if (mm < 10) { mm = '0' + mm }
                        if (HH < 10) { HH = '0' + HH }
                        if (MM < 10) { MM = '0' + MM }
                        if (SS < 10) { SS = '0' + SS }
                        today = "Ngày: " + dd + '/' + mm + '/' + yyyy + " - " + HH + ":" + MM + ":" + SS;
                        $("#number-ticket").text(result);
                        $("#bo-phan-ticket").text($(e.event.target).text());
                        $("#date-ticket").text(today);
                        $("#" + id).text(result);
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        } else {
            alert("Vui lòng chọn máy in");
        }
    }
    // Nút tên bộ phận: tạo form nút
    function createButtonBP() {
        $(".btn").each(function (index) {
            $(this).kendoButton({
                click: onClickBtnBP
            });
        });
    }
    $(document).ready(function () {
        createGroupBP();
        getPrinterName();
    })
</script>
<link href="~/Content/style.css" rel="stylesheet" />