
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang chủ</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
</head>

<body>
    <div id="container" style="height:100%">
        <div id="top-menu"></div> @*#top-menu*@
        <div id="main-menu" style="height:100%">
            <div id="tabstrip-left" style="height:100%">
                <ul>
                    <li id="menu-xem-ket-qua" onclick="showSubTabstrip();" class="k-state-active">Thống kê</li>
                    <li id="menu-thong-tin-can-bo" onclick="showSubTabstrip();">Thông tin</li>
                    <li id="menu-thong-ke-bao-cao" onclick="showSubTabstrip();">Báo cáo</li>
                    <li id="menu-change-pw">Đổi mật khẩu</li>
                    <li>@Html.ActionLink("Đăng xuất", "Logout", "Login")</li>
                </ul> @*#tabstrip-left*@

                <div id="sub-tabstrip-ket-qua">
                    <ul>
                        <li id="menu-xem-ket-qua-danh-gia" class="k-state-active">Kết quả đánh giá</li>
                        <li id="menu-xem-thu-tuc">Thời gian giải quyết thủ tục</li>
                        <li id="menu-xem-dang-nhap">Thời gian đăng nhập</li>
                    </ul>
                    <div id="xem-ket-qua">
                        <div class="white-div-loading">
                            <img class="loading" src="~/loading2.gif" />
                        </div>
                        <div id="tong-hop">
                            <div id="header-th">
                                <h1>Kết quả đánh giá tổng hợp</h1>
                                <hr style="clear: both" />
                            </div>
                            <div id="body-th">
                                <div id="part-1" style="clear: both">
                                    <div style="float: left; width: 70%">
                                        <div id="chart-column-th" style="margin: 1em 5em 0 5em;"></div>
                                        <div id="year-group-th" style="width: 20%; margin: 1em 40%">
                                            <label>Chọn năm:</label>
                                            <input id="year-column-th" title="Chọn thời gian" style="width: 100%" />
                                        </div>
                                    </div>
                                    <div style="float: right; width: 30%">
                                        <div class="border-style" style="margin: 2em; border-color: #88aff5; border-radius: 10px; overflow:hidden">
                                            <div style="width: 100%; background-color: #88aff5">
                                                <center><h2 style="display: inline" id="ds-xl-th">ĐIỂM SỐ - XẾP LOẠI</h2></center>
                                            </div>
                                            <div class="div-diem-xeploai">
                                                <div>ĐIỂM SỐ : <input id="diem-tong" disabled /></div>
                                                <div class="diem-xeploai">XẾP LOẠI: <input id="xep-loai-tong" disabled /></div>
                                            </div>
                                        </div>
                                        <div class="border-style" style="margin: 2em; border-color: #88aff5; border-radius: 10px; overflow:hidden">
                                            <div style="width: 100%; background-color: #88aff5">
                                                <center><h2 style="display: inline">BỘ PHẬN</h2></center>
                                            </div>
                                            <div id="cac-bo-phan" class="scroll-bp-cb"></div>
                                        </div>
                                    </div>
                                </div>
                                <hr style="clear: both" />
                                <div id="part-2" style="clear: both">
                                    <div style="float: left; width: 50%">
                                        <div id="chart-circle-th"></div>
                                        <div id="month-group-th" style="width: 20%; margin: 1em 40%">
                                            <div style="height: 2em; text-align:center">
                                                <input type="checkbox" id="cb-all-th" checked="checked" style="line-height: 2em" />
                                                <span style="line-height: 2em">Xem tất cả</span>
                                            </div>
                                            <div id="div-month-circle-th">
                                                <input id="month-circle-th" title="Chọn thời gian" style="width: 100%" />
                                            </div>
                                            <div style="margin-top: 2em">
                                                <center><span id="click-details-th" style="cursor:pointer; color:cornflowerblue">Xem chi tiết</span></center>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="float: right; width: 50%">
                                        <div style="border-color: #cecece; background-color: #cecece; margin-right: 2em" class="border-style">
                                            <h3 id="title-all-th">Bảng kết quả đánh giá (Tổng hợp)</h3>
                                            <div id="grid-all-th"></div>
                                        </div>
                                    </div>
                                </div>
                                <hr style="clear: both" />
                            </div>
                            <div id="footer-th" style="display: none">
                                <div id="table-RHL-th" style="width: 50%; float: left">
                                    <div style="border-color: #37b24d; background-color: #37b24d; margin: 2em; width: 90%" class="border-style">
                                        <h3 id="title-RHL-th">Mức độ - Rất hài lòng (Tổng hợp)</h3>
                                        <div id="grid-RHL-th"></div>
                                    </div>
                                </div>
                                <div id="table-HL-th" style="width: 50%; float: right">
                                    <div style="border-color: #228be6; background-color: #228be6; margin-right: 2em; width: 90%" class="border-style">
                                        <h3 id="title-HL-th">Mức độ - Hài lòng (Tổng hợp)</h3>
                                        <div id="grid-HL-th"></div>
                                    </div>
                                </div>
                                <div id="table-BT-th" style="clear: both; width: 50%; float: left">
                                    <div style="border-color: #ffd43b; background-color: #ffd43b; margin-left: 2em; width: 90%" class="border-style">
                                        <h3 id="title-BT-th">Mức độ - Bình thường (Tổng hợp)</h3>
                                        <div id="grid-BT-th"></div>
                                    </div>
                                </div>
                                <div id="table-KHL-th" style="width: 50%; float: left">
                                    <div style="border-color: #fa5252; background-color: #fa5252; margin-right: 2em; width: 90%" class="border-style">
                                        <h3 id="title-KHL-th">Mức độ - Không hài lòng (Tổng hợp)</h3>
                                        <div id="grid-KHL-th"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="bo-phan">
                            <div>
                                <h1 style="display: inline">@*Tên bộ phận*@</h1>
                                <span class="k-icon k-i-undo" style="float: right; height: 2em; width: 2em; cursor: pointer" onclick="backBP()"></span>
                                <span style="float: right; height: 2em; line-height: 2em; cursor: pointer" onclick="backBP()">Quay lại</span>
                                <span class="k-icon k-i-arrows-swap compareBP" onclick="compareBP()"></span>
                                <span class="compareBP" onclick="compareBP()">So sánh</span>
                                <hr />
                                <div id="content-ten-can-bo" style="width: 30%; float: right">
                                    <div class="border-style" style="margin: 2em; border-color: #88aff5; border-radius: 10px; overflow:hidden">
                                        <div style="width: 100%; background-color: #88aff5">
                                            <center><h2 style="display: inline" id="ds-xl-bp">ĐIỂM SỐ - XẾP LOẠI</h2></center>
                                        </div>
                                        <div class="div-diem-xeploai">
                                            <div>ĐIỂM SỐ : <input id="diem-bp" disabled /></div>
                                            <div class="diem-xeploai">XẾP LOẠI: <input id="xep-loai-bp" disabled /></div>
                                        </div>
                                    </div>
                                    <div class="border-style" style="margin: 2em; border-color: #88aff5; border-radius: 10px; overflow:hidden">
                                        <div style="width: 100%; background-color: #88aff5">
                                            <center><h2 style="display: inline" class="scroll-bp-cb">CÁN BỘ</h2></center>
                                        </div>
                                        <div id="div-button-canbo"></div>@*#div-button-canbo*@
                                    </div>
                                </div>
                                <div id="content-bp">
                                    <div id="div-chart-column-bp" style="margin: 1em 5em 0 5em; width: 55%; float: left">
                                        <div id="chart-column-bp">@*Biểu đồ cột*@</div>
                                        <div id="div-year-column" style="width: 20%; margin: 1em 40%">
                                            <label>Chọn năm:</label>
                                            <input id="year-column" title="Chọn thời gian" style="width: 100%" />
                                        </div>
                                    </div>@*#div-chart-column-bp*@
                                    <div style="clear:both"></div>
                                    <hr />
                                    <div style="width: 50%; float: left">
                                        <div id="chart-circle-bp">@*Biểu đồ tròn*@</div>
                                        <div id="div-month-circle" style="width: 20%; margin: 1em 40%">
                                            <div style="height: 2em; text-align:center">
                                                <input type="checkbox" id="cb-all" checked="checked" style="line-height: 2em" />
                                                <span style="line-height: 2em">Xem tất cả</span>
                                            </div>
                                            <div id="div-month-circle-1">
                                                <input id="month-circle" title="Chọn thời gian" style="width: 100%" />
                                            </div>
                                            <div style="margin-top: 2em">
                                                <center><span id="click-details-bp" style="cursor:pointer; color:cornflowerblue">Xem chi tiết</span></center>
                                            </div>
                                        </div>@*#div-month-circle*@
                                    </div>
                                    <div style="width: 48%; float:right">
                                        <div style="border-color: #cecece; background-color: #cecece; margin-right: 2em" class="border-style">
                                            <h3 id="span-title-table-1">Bảng kết quả đánh giá (Tổng hợp)</h3>
                                            <div id="grid-ty-le"></div>
                                        </div>
                                    </div>
                                    <hr style="clear: both" />
                                    <div id="table-details-bp" style="clear:both; width: 100%">
                                        <div style="border-color: #37b24d; background-color: #37b24d; width: 45%; float:left; margin-left: 2em" class="border-style">
                                            <h3 id="span-title-table-2">Mức độ - Rất hài lòng (Tổng hợp)</h3>
                                            <div id="grid-rat-hai-long"></div>
                                        </div>
                                        <div style="border-color: #228be6; background-color: #228be6; width: 45%; float:right; margin-right: 2em" class="border-style">
                                            <h3 id="span-title-table-3">Mức độ - Hài lòng (Tổng hợp)</h3>
                                            <div id="grid-hai-long"></div>
                                        </div>
                                        <div style="border-color: #ffd43b; background-color: #ffd43b; width: 45%; float:left; margin-left: 2em" class="border-style">
                                            <h3 id="span-title-table-4">Mức độ - Bình thường (Tổng hợp)</h3>
                                            <div id="grid-binh-thuong"></div>
                                        </div>
                                        <div style="border-color: #fa5252; background-color: #fa5252; width: 45%; float:right; margin-right: 2em" class="border-style">
                                            <h3 id="span-title-table-5">Mức độ - Không hài lòng (Tổng hợp)</h3>
                                            <div id="grid-khong-hai-long"></div>
                                        </div>
                                    </div>@*#table-details-bp*@
                                </div>
                            </div>
                        </div> @*#bo-phan*@
                        <div id="can-bo">
                            <div>
                                <h1 style="display: inline">@*Tên cán bộ*@</h1>
                                <span class="k-icon k-i-undo" style="float: right; height: 2em; width: 2em; cursor: pointer" onclick="backCB()"></span>
                                <span style="float: right; height: 2em; line-height: 2em; cursor: pointer" onclick="backCB()">Quay lại</span>
                                <span class="k-icon k-i-arrows-swap compareCB" onclick="compareCB()"></span>
                                <span class="compareCB" onclick="compareCB()">So sánh</span>
                                <hr />
                                <div id="table-core-cb">
                                    <div id="image-cb" style="text-align: center"><input type="image" @*src="~/user.png"*@ alt="Hình ảnh cán bộ" /></div>
                                    <div id="info-left" style="float:left; width: 32%">
                                        <div>Mã cán bộ: </div>
                                        <div>Họ tên: </div>
                                        <div>Mã bộ phận: </div>
                                        <div>Tên bộ phận: </div>
                                    </div>
                                    <div id="info-right" style="float:right; width: 68%">
                                        <div id="id-cb"><span></span></div>
                                        <div id="name-cb"><span></span></div>
                                        <div id="id-bp"><span></span></div>
                                        <div id="name-bp"><span></span></div>
                                    </div>
                                    <div class="div-diem-xeploai">
                                        <div class="diem-xeploai"><span id="ds-cb">ĐIỂM SỐ : </span><input id="diem-cb" disabled /></div>
                                        <div class="diem-xeploai"><span id="xl-cb">XẾP LOẠI: </span><input id="xep-loai-cb" disabled /></div>
                                    </div>
                                </div>
                                <div id="content-can-bo">
                                    <div id="div-chart-column-cb" style="margin: 1em 5em 0 5em; width: 55%; float: left; text-align:center">
                                        <div id="chart-column-cb">@*Biểu đồ cột*@</div>
                                        <div id="div-year-column-cb" style="width: 20%; margin: 1em 40%; text-align: left">
                                            <label>Chọn năm:</label>
                                            <input id="year-column-cb" title="Chọn thời gian" style="width: 100%" />
                                        </div>
                                    </div>@*#div-chart-column-cb*@

                                    <hr style="clear: both" />
                                    <div style="width: 50%; float: left">
                                        <div id="chart-circle-cb">@*Biểu đồ tròn*@</div>
                                        <div id="div-month-circle-cb" style="width: 20%; margin: 1em 40%">
                                            <div style="height: 2em; text-align:center">
                                                <input type="checkbox" id="cb-all-cb" checked="checked" style="line-height: 2em" />
                                                <span style="line-height: 2em">Xem tất cả</span>
                                            </div>
                                            <div id="div-month-circle-cb-1">
                                                <input id="month-circle-cb" title="Chọn thời gian" style="width: 100%" />
                                            </div>
                                            <div style="margin-top: 2em">
                                                <center><span id="click-details-cb" style="cursor:pointer; color:cornflowerblue">Xem chi tiết</span></center>
                                            </div>
                                        </div>@*#div-month-circle-cb*@
                                    </div>
                                    <div style="width: 48%; float:right">
                                        <div style="border-color: #cecece; background-color: #cecece" class="border-style">
                                            <h3 id="span-title-table-cb-1">Bảng kết quả đánh giá (Tổng hợp)</h3>
                                            <div id="grid-ty-le-cb"></div>
                                        </div>@*Bảng kết quả đánh giá*@
                                    </div>
                                    <hr style="clear: both" />
                                    <div id="table-ket-qua-cb" style="clear:both; width: 100%">
                                        <div style="border-color: #cecece; background-color: #cecece" class="border-style">
                                            <h3 id="span-title-table-ket-qua">Bảng kết quả đánh giá (Tổng hợp)</h3>
                                            <div id="grid-ket-qua"></div>
                                        </div>@*Bảng góp ý*@
                                    </div>@*#table-details-cb*@
                                    <div id="table-details-cb" style="clear:both; width: 100%">
                                        <div style="border-color: #cecece; background-color: #cecece" class="border-style">
                                            <h3 id="span-title-table-gop-y">Bảng góp ý (Tổng hợp)</h3>
                                            <div id="grid-gop-y"></div>
                                        </div>@*Bảng góp ý*@
                                    </div>@*#table-details-cb*@
                                </div>
                            </div>
                        </div>@*#can-bo*@
                    </div> @*#xem-ket-qua*@
                    <div id="div-thu-tuc">
                        <div class="white-div-loading">
                            <img class="loading" src="~/loading2.gif" />
                        </div>
                        <div id="thu-tuc-th">
                            <div id="header-thu-tuc-th">
                                <h1>Thời gian giải quyết thủ tục tổng hợp</h1>
                            </div>
                            <hr />
                            <div id="body-thu-tuc-th">
                                <div style="float: left; width: 70%">
                                    <div id="chart-column-thu-tuc-th" style="margin: 1em 5em 0 5em;"></div>
                                    <div id="year-group-thu-tuc-th">
                                        <div id="year-group-thu-tuc-th-month">
                                            <input type="checkbox" id="cbx-month-thu-tuc-th" />
                                            <label>Chọn tháng:</label>
                                            <input id="month-column-thu-tuc-th" title="Chọn thời gian" style="width: 100%" />
                                        </div>
                                        <div id="year-group-thu-tuc-th-year">
                                            <input type="checkbox" id="cbx-year-thu-tuc-th" checked="checked" />
                                            <label>Chọn năm:</label>
                                            <input id="year-column-thu-tuc-th" title="Chọn thời gian" style="width: 100%" />
                                        </div>
                                    </div>
                                </div>
                                <div style="float: right; width: 30%">
                                    <div class="border-style" style="margin: 2em; border-color: #88aff5; border-radius: 10px; overflow:hidden">
                                        <div style="width: 100%; background-color: #88aff5">
                                            <center><h2 style="display: inline">BỘ PHẬN</h2></center>
                                        </div>
                                        <div id="cac-bo-phan-thu-tuc" class="scroll-bp-cb-tt"></div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div id="footer-thu-tuc-th" class="border-style title-border-style">
                                <h3 id="title-grid-thu-tuc-th"></h3>
                                <div id="grid-thu-tuc-th"></div>
                            </div>
                        </div>
                        <div id="thu-tuc-bp">
                            <div id="header-thu-tuc-bp">
                                <h1 style="display: inline">Thời gian giải quyết thủ tục</h1>
                                <span class="k-icon k-i-undo" style="float: right; height: 2em; width: 2em; cursor: pointer" onclick="backBPThuTuc()"></span>
                                <span style="float: right; height: 2em; line-height: 2em; cursor: pointer" onclick="backBPThuTuc()">Quay lại</span>
                                <span class="k-icon k-i-arrows-swap compareBP" onclick="compareBPThuTuc()"></span>
                                <span class="compareBP" onclick="compareBPThuTuc()">So sánh</span>
                            </div>
                            <hr />
                            <div id="body-thu-tuc-bp">
                                <div style="float: left; width: 70%">
                                    <div id="chart-column-thu-tuc-bp" style="margin: 1em 5em 0 5em;"></div>
                                    <div id="year-group-thu-tuc-bp">
                                        <div id="year-group-thu-tuc-bp-month">
                                            <input type="checkbox" id="cbx-month-thu-tuc-bp" />
                                            <label>Chọn tháng:</label>
                                            <input id="month-column-thu-tuc-bp" title="Chọn thời gian" style="width: 100%" />
                                        </div>
                                        <div id="year-group-thu-tuc-bp-year">
                                            <input type="checkbox" id="cbx-year-thu-tuc-bp" checked="checked" />
                                            <label>Chọn năm:</label>
                                            <input id="year-column-thu-tuc-bp" title="Chọn thời gian" style="width: 100%" />
                                        </div>
                                    </div>
                                </div>
                                <div style="float: right; width: 30%">
                                    <div class="border-style" style="margin: 2em; border-color: #88aff5; border-radius: 10px; overflow:hidden">
                                        <div style="width: 100%; background-color: #88aff5">
                                            <center><h2 style="display: inline">CÁN BỘ</h2></center>
                                        </div>
                                        <div id="cac-can-bo-thu-tuc" class="scroll-bp-cb-tt"></div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div id="footer-thu-tuc-bp" class="border-style title-border-style">
                                <h3 id="title-grid-thu-tuc-bp"></h3>
                                <div id="grid-thu-tuc-bp"></div>
                            </div>
                        </div>
                        <div id="thu-tuc-cb">
                            <div id="header-thu-tuc-cb">
                                <h1 style="display: inline">Thời gian giải quyết thủ tục</h1>
                                <span class="k-icon k-i-undo" style="float: right; height: 2em; width: 2em; cursor: pointer" onclick="backCBThuTuc()"></span>
                                <span style="float: right; height: 2em; line-height: 2em; cursor: pointer" onclick="backCBThuTuc()">Quay lại</span>
                                <span class="k-icon k-i-arrows-swap compareCB" onclick="compareCBThuTuc()"></span>
                                <span class="compareCB" onclick="compareCBThuTuc()">So sánh</span>
                            </div>
                            <hr />
                            <div id="body-thu-tuc-cb">
                                <div style="float: left; width: 65%">
                                    <div id="chart-column-thu-tuc-cb" style="margin: 1em 5em 0 5em;"></div>
                                    <div id="year-group-thu-tuc-cb">
                                        <div id="year-group-thu-tuc-cb-month">
                                            <input type="checkbox" id="cbx-month-thu-tuc-cb" />
                                            <label>Chọn tháng:</label>
                                            <input id="month-column-thu-tuc-cb" title="Chọn thời gian" style="width: 100%" />
                                        </div>
                                        <div id="year-group-thu-tuc-cb-year">
                                            <input type="checkbox" id="cbx-year-thu-tuc-cb" checked="checked" />
                                            <label>Chọn năm:</label>
                                            <input id="year-column-thu-tuc-cb" title="Chọn thời gian" style="width: 100%" />
                                        </div>
                                    </div>
                                </div>
                                <div id="table-core-thu-tuc-cb">
                                    <div id="image-thu-tuc-cb" style="text-align: center"><input type="image" @*src="~/user.png"*@ alt="Hình ảnh cán bộ" /></div>
                                    <div id="info-thu-tuc-left" style="float:left; width: 32%">
                                        <div>Mã cán bộ: </div>
                                        <div>Họ tên: </div>
                                        <div>Mã bộ phận: </div>
                                        <div>Tên bộ phận: </div>
                                    </div>
                                    <div id="info-thu-tuc-right" style="float:right; width: 68%">
                                        <div id="id-thu-tuc-cb"><span></span></div>
                                        <div id="name-thu-tuc-cb"><span></span></div>
                                        <div id="id-thu-tuc-bp"><span></span></div>
                                        <div id="name-thu-tuc-bp"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div id="footer-thu-tuc-cb" class="border-style title-border-style">
                                <h3 id="title-grid-thu-tuc-cb"></h3>
                                <div id="grid-thu-tuc-cb"></div>
                            </div>
                        </div>
                    </div>
                    <div id="div-thoi-gian-dang-nhap">
                        <div id="div-chon-can-bo">
                            <div>
                                <label>Bộ phận</label>
                                <div id="bo-phan-dang-nhap"></div>
                            </div>
                            <div>
                                <label>Cán bộ</label>
                                <div id="can-bo-dang-nhap"></div>
                            </div>
                        </div>
                        <div id="div-loai-dang-nhap">
                            <div>
                                <div>
                                    <input type="checkbox" id="cbx-thang-dang-nhap" />
                                    <label>Chọn tháng:</label>
                                </div>
                                <div>
                                    <input id="thang-dang-nhap" title="Chọn thời gian" />
                                </div>
                            </div>
                            <div>
                                <div>
                                    <input type="checkbox" id="cbx-nam-dang-nhap" checked="checked" />
                                    <label>Chọn năm:</label>
                                </div>
                                <div>
                                    <input id="nam-dang-nhap" title="Chọn thời gian" />
                                </div>
                            </div>
                        </div>
                        <div id="btn-dang-nhap">Xem</div>
                        <hr style="clear: both" />
                        <div id="chart"></div>
                        <div>
                            <div id="div-grid-dang-nhap" class="border-style title-border-style">
                                <h3>Thông tin thời gian đăng nhập</h3>
                                <div id="grid-dang-nhap"></div>
                            </div>
                        </div>

                    </div>
                </div> @*#sub-tabstrip-ket-qua*@
                <div id="sub-tabstrip-thong-tin">
                    <ul>
                        <li id="menu-thong-tin-can-bo-tk" class="k-state-active">Tài khoản cán bộ</li>
                        <li id="menu-thong-tin-can-bo-bp">Bộ phận</li>
                        <li id="menu-thong-tin-can-bo-sq">Số quầy</li>
                    </ul>
                    <div>
                        <div id="div-tai-khoan-can-bo" class="border-style title-border-style">
                            <h3>Thông tin tài khoản cán bộ</h3>
                            <div id="grid-tai-khoan-can-bo"></div>
                        </div>
                    </div>
                    <div>
                        <div id="div-thong-tin-bo-phan" class="border-style title-border-style">
                            <h3>Thông tin bộ phận</h3>
                            <div id="grid-thong-tin-bo-phan"></div>
                        </div>
                    </div>
                    <div>
                        <div id="div-thong-tin-quay" class="border-style title-border-style">
                            <h3>Thông tin quầy</h3>
                            <div id="grid-thong-tin-quay"></div>
                        </div>
                    </div>
                </div> @*#sub-tabstrip-thong-tin*@
                <div id="thong-ke-bao-cao">
                    <div class="white-div-loading">
                        <img class="loading" src="~/loading2.gif" />
                    </div>
                    <div id="tieu-chi-bao-cao" style="width: 100%">
                        <table style="width: 100%; table-layout:fixed">
                            <tr>
                                <td style="width: 20%">
                                    <label>Bộ phận: </label>
                                </td>
                                <td style="width: 80%">
                                    <input id="bo-phan-bao-cao" value="0" style="width: 100%" />
                                </td>
                                <td style="width: 16%">
                                    <div id="can-bo-report-1">
                                        <label style="float:right">Cán bộ: </label>
                                    </div>
                                </td>
                                <td style="width: 84%">
                                    <div id="can-bo-report-2">
                                        <input id="can-bo-bao-cao" value="0" style="width: 100%" />
                                    </div>
                                </td>
                                <td style="width: 16%"></td>
                                <td style="width: 84%"></td>
                            </tr>
                            <tr>
                                <td style="width: 25%">
                                    <label>Thời gian: </label>
                                </td>
                                <td style="width: 75%">
                                    <input id="thoi-gian-bao-cao" value="0" style="width: 100%" />
                                </td>
                                <td style="width: 25%">
                                    <div id="start-report-1" style="float:right">
                                        <label>Từ: </label>
                                    </div>
                                </td>
                                <td style="width: 75%">
                                    <div id="start-report-2">
                                        <input id="start-bao-cao" value="1" style="width: 100%" />
                                    </div>
                                </td>
                                <td style="width: 25%">
                                    <div id="end-report-1" style="float:right">
                                        <label>Đến: </label>
                                    </div>
                                </td>
                                <td style="width: 75%">
                                    <div id="end-report-2">
                                        <input id="end-bao-cao" value="1" style="width: 100%" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="height: 3em">
                                    <div style="float:left; margin: 0 1em">
                                        <input type="checkbox" value="Bảng kết quả đánh giá" id="cb-kq" />
                                        <label id="lb-kq" style="cursor:pointer">Bảng kết quả đánh giá</label>
                                    </div>
                                    <div style="float:left; margin: 0 1em">
                                        <input type="checkbox" value="Bảng góp ý" id="cb-gy" />
                                        <label id="lb-gy" style="cursor:pointer">Bảng góp ý</label>
                                    </div>
                                    <div style="float:left; margin: 0 1em">
                                        <input type="checkbox" value="Bảng thời gian giải quyết thủ tục" id="cb-tt" />
                                        <label id="lb-tt" style="cursor:pointer">Bảng thời gian giải quyết thủ tục</label>
                                    </div>
                                    <script>
                                        $("#lb-kq").click(function () {
                                            $("#cb-kq").prop("checked", !$("#cb-kq").prop("checked"))
                                        })
                                        $("#lb-gy").click(function () {
                                            $("#cb-gy").prop("checked", !$("#cb-gy").prop("checked"))
                                        })
                                        $("#lb-tt").click(function () {
                                            $("#cb-tt").prop("checked", !$("#cb-tt").prop("checked"))
                                        })
                                    </script>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <center>
                                        <button id="btn-view" style="width: 200px">Xem trước</button>
                                        <button id="btn-report" style="width: 200px">Xuất báo cáo</button>
                                    </center>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div style="margin: 2em 0; clear: both"><hr /></div>
                    <div id="noi-dung-bao-cao">
                        @*<div id="title-bao-cao-main" style="padding: 0.8em;">
                                <div>
                                    <div style="width: 30%; text-align:center; float: left">
                                        <h2>ỦY BAN NHÂN DÂN</h2>
                                        <h2>QUẬN TÂN BÌNH</h2>
                                        <div style='width: 30%; text-align: center; padding: 0 35% 0 35%;'>
                                            <hr />
                                        </div>
                                        <h3 style="font-weight: 100; margin:0; padding: 0">Số: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/BC-UBND </h3>
                                    </div>
                                    <div style="width: 70%; text-align:center; float: left">
                                        <h2>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h2>
                                        <h2>Độc lập - Tự do - Hạnh phúc</h2>
                                        <div style='width: 20%; text-align: center; padding: 0 40% 0 40%;'>
                                            <hr />
                                        </div>
                                        <h3 style="font-weight: 100; margin:0; padding: 0">Quận Tân Bình, ngày &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; tháng &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; năm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h3>
                                    </div>
                                </div>
                                <div style="clear:both; text-align: center">
                                    <br />
                                    <h2>BÁO CÁO</h2>
                                    <h2 style="font-weight: 100">Tổng kết tình hình đánh giá chất lượng phục vụ <br />của nhân viên bộ phận tiếp dân</h2>
                                </div>
                            </div>*@
                        <div id="title-bao-cao-1" class="title-report"></div>
                        <div id="grid-report-1"></div>
                        <div id="title-bao-cao-2" class="title-report"></div>
                        <div id="grid-report-2"></div>
                        <div id="title-bao-cao-3" class="title-report"></div>
                        <div id="grid-report-3"></div>
                    </div>
                </div> @*#thong-ke-bao-cao*@
                <div>
                    <div class="div-pw">
                        <div class="title-pw">ĐỔI MẬT KHẨU</div>
                        <div class="sub-div-pw">
                            <div class="input-lb-pw">
                                <label>Mật khẩu cũ: </label>
                            </div>
                            <div class="input-pw">
                                <input type="password" id="old-pw" />
                            </div>
                            <div class="input-lb-pw">
                                <label>Mật khẩu mới: </label>
                            </div>
                            <div class="input-pw">
                                <input type="password" id="new-pw" />
                            </div>
                            <div class="input-lb-pw">
                                <label>Nhập lại mật khẩu mới: </label>
                            </div>
                            <div class="input-pw">
                                <input type="password" id="renew-pw" />
                            </div>
                            <div class="div-btn-change">
                                <div id="btn-change-pw">XÁC NHẬN</div>
                                <div id="btn-cancel-change-pw">HỦY BỎ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> @*#tabstrip-left*@
        </div> @*#main-menu*@

    </div> @*#container*@
    <div id="big-white-div-loading" style="position: fixed; top: 0; display: none"></div>
    <div id="windowPopup" hidden="hidden">
        @using (Html.BeginForm("Upload", "TaiKhoan", FormMethod.Post, new { id = "formUpload" }))
        {
            @*@Html.Raw(ViewBag.Error)*@
            <span>Excel File </span><input id="files" type="file" name="excelfile" title="Chọn file cần nhập" accept="xls,xlsx" />
            <br />
            <button type="submit" id="btn-import" class="k-button k-primary">Nhập</button>
        }
    </div>
    <div id="windowCompareBP" hidden="hidden">
        Thời gian:
        <input id="thoigianCompareBP" value="0" style="width: 10%" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
        <div style="width: 20%; display: inline-table">
            <input id="startCompareBP" value="1" />
        </div>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
        <div style="width: 20%; display: inline-table">
            <input id="endCompareBP" value="1" />
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" id="cbCompareBP" />
        <span id="spanCbCompareBP">
            &nbsp;So sánh nhiều
        </span>
        <div id="btnCompareBP" style="float: right">So sánh</div>
        <div id="chartCompareBP"></div>
    </div>
    <div id="windowCompareCB" hidden="hidden">
        Thời gian:
        <input id="thoigianCompareCB" value="0" style="width: 10%" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
        <div style="width: 20%; display: inline-table">
            <input id="startCompareCB" value="1" />
        </div>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
        <div style="width: 20%; display: inline-table">
            <input id="endCompareCB" value="1" />
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" id="cbCompareCB" />
        <span id="spanCbCompareCB">
            &nbsp;So sánh nhiều
        </span>
        <div id="btnCompareCB" style="float: right">So sánh</div>
        <div id="chartCompareCB"></div>
    </div>
    <div id="windowCompareBPThuTuc" hidden="hidden">
        Thời gian:
        <input id="thoigianCompareBPThuTuc" value="0" style="width: 10%" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
        <div style="width: 20%; display: inline-table">
            <input id="startCompareBPThuTuc" value="1" />
        </div>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
        <div style="width: 20%; display: inline-table">
            <input id="endCompareBPThuTuc" value="1" />
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" id="cbCompareBPThuTuc" />
        <span id="spanCbCompareBPThuTuc">
            &nbsp;So sánh nhiều
        </span>
        <div id="btnCompareBPThuTuc" style="float: right">So sánh</div>
        <div id="chartCompareBPThuTuc"></div>
    </div>
    <div id="windowCompareCBThuTuc" hidden="hidden">
        Thời gian:
        <input id="thoigianCompareCBThuTuc" value="0" style="width: 10%" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
        <div style="width: 20%; display: inline-table">
            <input id="startCompareCBThuTuc" value="1" />
        </div>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
        <div style="width: 20%; display: inline-table">
            <input id="endCompareCBThuTuc" value="1" />
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" id="cbCompareCBThuTuc" />
        <span id="spanCbCompareCBThuTuc">
            &nbsp;So sánh nhiều
        </span>
        <div id="btnCompareCBThuTuc" style="float: right">So sánh</div>
        <div id="chartCompareCBThuTuc"></div>
    </div>
</body>
</html>

<script>
    /*
        This demo renders the grid in "DejaVu Sans" font family, which is
        declared in kendo.common.css. It also declares the paths to the
        fonts below using <tt>kendo.pdf.defineFont</tt>, because the
        stylesheet is hosted on a different domain.
    */
    kendo.pdf.defineFont({
        "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
        "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
        "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "WebComponentsIcons": "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
    });
</script>

<!-- Load Pako ZLIB library to enable PDF compression -->
<script src="https://kendo.cdn.telerik.com/2018.3.911/js/pako_deflate.min.js"></script>
<script type="x/kendo-template" id="page-template-report">
    <div class="page-template">
        @*<div class="header">
                <div style="float: right">Trang #: pageNum # / #: totalPages #</div>
                Bảng kết quả đánh giá
            </div>*@
        @*<div class="watermark">KẾT QUẢ ĐÁNH GIÁ</div>*@
        @*<div class="footer">
                Trang #: pageNum # / #: totalPages #
            </div>*@
    </div>
</script>
<script type="x/kendo-template" id="page-template-feedback">
    <div class="page-template">
        @*<div class="header">
                <div style="float: right">Trang #: pageNum # / #: totalPages #</div>
                Bảng góp ý
            </div>*@
        @*<div class="watermark">GÓP Ý</div>*@
        @*<div class="footer">
                Trang #: pageNum # / #: totalPages #
            </div>*@
    </div>
</script>
<script type="x/kendo-template" id="page-template-thutuc">
    <div class="page-template">
        @*<div class="header">
                <div style="float: right">Trang #: pageNum # / #: totalPages #</div>
                Bảng thời gian giải quyết thủ tục
            </div>*@
        @*<div class="watermark">GIẢI QUYẾT THỦ TỤC</div>*@
        @*<div class="footer">
                Trang #: pageNum # / #: totalPages #
            </div>*@
    </div>
</script>
<script>
    var url = window.location.origin;
    // Tạo tabstrip
    function createTabStrip() {
        $("#tabstrip-left").kendoTabStrip({
            tabPosition: "top",
            animation: { open: { effects: "fadeIn" } }
        });
    }
    createTabStrip();
    function createSubTabStripTT() {
        $("#sub-tabstrip-thong-tin").kendoTabStrip({
            tabPosition: "top",
            animation: { open: { effects: "fadeIn" } }
        });
    }
    createSubTabStripTT();
    function createSubTabStripKQ() {
        $("#sub-tabstrip-ket-qua").kendoTabStrip({
            tabPosition: "top",
            animation: { open: { effects: "fadeIn" } }
        });
    }
    createSubTabStripKQ();
    function showSubTabstrip() {
        if ($("#menu-thong-tin-can-bo.k-state-active").length > 0) {
            $("#sub-tabstrip-thong-tin").show();
        } else {
            $("#sub-tabstrip-thong-tin").hide();
        }

        if ($("#menu-xem-ket-qua.k-state-active").length > 0) {
            $("#sub-tabstrip-ket-qua").show();
        } else {
            $("#sub-tabstrip-ket-qua").hide();
        }
    }
    $(document).ready(function () {
        $("#sub-tabstrip-thong-tin").hide();
        $("#sub-tabstrip-ket-qua").hide();
        $("#table-details-bp").hide();
        $("#div-month-circle-1").hide();
        $("#table-details-cb").hide();
        $("#div-month-circle-cb-1").hide();
        $("#bo-phan").hide();
        $("#can-bo").hide();
        $("#can-bo-report-1").hide();
        $("#can-bo-report-2").hide();
        var arr = [{ text: "Chọn tất cả", value: 0 }];
        $("#can-bo-bao-cao").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: arr,
        });

        $("#start-bao-cao").kendoDatePicker({
            start: "month",
            depth: "month",
            dateInput: false,
            value: new Date(Date.now())
        });
        $("#end-bao-cao").kendoDatePicker({
            start: "month",
            depth: "month",
            dateInput: false,
            value: new Date(Date.now())
        });
        $("#start-report-1").hide();
        $("#end-report-1").hide();
        $("#start-report-2").hide();
        $("#end-report-2").hide();
        $("#thu-tuc-bp").hide();
        $("#thu-tuc-cb").hide();

        // Tổng hợp
        $("#sub-tabstrip-ket-qua").show();
        createYearColumnTH();
        createMonthCircleTH();
        createChartTableTHAll();
        $("#footer-th").hide();
        $("#div-month-circle-th").hide();
        getBPName();
    })
</script>
<script src="~/Content/CompareJS.js"></script>
<script src="~/Content/KetQua.js"></script>
<script src="~/Content/ThuTuc.js"></script>
<script src="~/Content/DangNhap.js"></script>
<script src="~/Content/ThongTinJS.js"></script>
<script src="~/Content/BaoCaoJS.js"></script>
<script src="~/Content/DoiMatKhau.js"></script>
<link href="~/Content/ServerStyle1.css" rel="stylesheet" />