@{
    Layout = null;
}

@model CallNumberWebsite.Models.Login
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Máy gọi số</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.mobile.min.css" />
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="header"><div>MÁY GỌI SỐ</div></div>
        <div id="body">
            <div id="info">
                <div id="info-left">
                    <div id="time-group">Thời gian:</div>
                    <div id="time-login">Đăng nhập:</div>
                    <div id="quay-group">Quầy:</div>
                    <div id="id-group">Mã cán bộ:</div>
                    <div id="name-group">Họ tên:</div>
                    <div id="bo-phan-group"><span></span>Bộ phận:</div>
                </div>
                <div id="info-right">
                    <div id="time"></div>
                    <div id="timelogin"></div>
                    <div id="quay"></div>
                    <div id="id"></div>
                    <div id="name"></div>
                    <div id="bo-phan"></div>
                </div>
            </div>
            <div id="number-group">
                <div id="title">
                    <div id="title-number"><span></span>SỐ ĐANG GỌI</div>
                    <div id="number">0</div>
                </div>
                <div id="btn-group">
                    <div id="btn-next" class="k-primary">TIẾP THEO</div>
                    <div id="btn-again" class="k-primary">&nbsp; GỌI LẠI &nbsp;</div>
                    @*<div id="btn-success" class="k-primary">HOÀN TẤT</div>*@
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="btn-change-pw">ĐỔI MẬT KHẨU</div>
            @Html.ActionLink("Đăng xuất", "Logout", "Login")
        </div>
    </div>
    <div id="black">
        <div id="list-view">
            <div id="grid"></div>
        </div>
        <div id="black-span"></div>
        <div id="open">Thống kê</div>
    </div>
    <div id="window">
        <label>Mật khẩu cũ: </label><div id="mk-cu"><input type="password"></div>
        <label>Mật khẩu mới: </label><div id="mk-moi1"><input type="password"></div>
        <label>Nhập lại mật khẩu: </label><div id="mk-moi2"><input type="password"></div>
        <div id="btn-change">THAY ĐỔI</div>
    </div>
</body>
</html>

<script>
    $("audio").play;
    var url = window.location.origin;
    var today = new Date();
    var macb = 0;
    var mabp = 0;
    var mamay = 0;
    var mastt = 0;
    var madn = 0;
    var macbsd = "";
    var viettat = "";
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) { dd = '0' + dd }
    if (mm < 10) { mm = '0' + mm }
    today = dd + '/' + mm + '/' + yyyy;
    var click_next = false;
    $("#time").text(today)

    // Lấy thông tin cán bộ
    function getInfo() {
        $.ajax({
            url: url + "/Home/GetInfo",
            type: "GET",
            dataType: "json",
            success: function (result) {
                var js = JSON.parse(result);
                var d = new Date(js["BD"]);
                var HH = d.getHours();
                var MM = d.getMinutes();
                var SS = d.getSeconds();
                if (HH < 10) { HH = '0' + HH }
                if (MM < 10) { MM = '0' + MM }
                if (SS < 10) { SS = '0' + SS }
                var timelogin = HH + ":" + MM + ":" + SS;
                macb = js["MaCB"];
                mabp = js["MaBP"];
                mamay = js["MaMay"];
                madn = js["MaDN"];
                macbsd = js["MaCBSD"];
                viettat = js["VietTat"];
                $("#id").text(js["MaCBSD"]);
                $("#name").text(js["HoTen"]);
                $("#quay").text(js["MaMay"]);
                $("#bo-phan").text(js["TenBP"]);
                $("#bo-phan-group span").prop("id", js["MaBP"]);
                $("#timelogin").text(timelogin);
                saveInfo();
                //getNumber();
                // Tạo bảng thời gian các phiên làm việc ====================================
                $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            serverFiltering: true,
                            read: function (options) {
                                $.ajax({
                                    url: url + "/Home/GetPhien",
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        "_MaCB": macb,
                                        "_Ngay": dd,
                                        "_Thang": mm,
                                        "_Nam": yyyy,
                                    },
                                    success: function (result) {
                                        var js = JSON.parse(result)
                                        options.success(js)
                                    },
                                    error: function (xhr) {
                                        console.log(xhr.responseText);
                                    }
                                })
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    return { models: kendo.stringify(options.models) };
                                }
                            }
                        },
                        batch: true,
                        pageSize: 10,
                        schema: {
                            model: {
                                fields: {
                                    MaSTT: { type: "number" },
                                    STT: { type: "number" },
                                    PhienCho: { type: "number" },
                                    PhienXuLy: { type: "number" },
                                    TongPhien: { type: "number" }
                                }
                            }
                        },
                        aggregate: [
                            { field: "TongPhien", aggregate: "average" },
                            { field: "TongPhien", aggregate: "sum" },
                            { field: "TongPhien", aggregate: "min" },
                            { field: "TongPhien", aggregate: "max" },
                        ]
                    },
                    navigatable: true,
                    pageable: true,
                    columns: [{
                        field: "STT", title: "STT",
                        width: 2
                    },
                    {
                        field: "PhienCho",
                        title: "Chờ (Phút)",
                        width: 3
                    },
                    {
                        field: "PhienXuLy",
                        title: "Xử lý (Phút)",
                        width: 3
                    },
                    {
                        field: "TongPhien",
                        title: "Tổng",
                        width: 2,
                        groupHeaderColumnTemplate: "Sum: #=sum#",
                        groupFooterTemplate: "<div>Tổng: #=sum#</div><div>Thấp nhất: #= min #</div><div>Cao nhất: #= max #</div>", footerTemplate: "<div>Tổng: #=sum#</div><div>Trung bình: #=Math.round(average*100)/100#</div><div>Thấp nhất: #= min #</div><div>Cao nhất: #= max #</div>"
                    }
                    ]
                });
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
    }
    // Lưu lại các thông tin
    function saveInfo() {
        $.ajax({
            url: url + "/Home/SaveInfo",
            type: "GET",
            dataType: "json",
            data: { "_MaBP": mabp, "_MaCB": macb, "_MaMay": mamay, "_MaDN": madn, "_MaCBSD": macbsd, "_VietTat": viettat },
            success: function (result) {
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
    }
    // Lấy số trước khi refresh trang
    function getNumber() {
        $.ajax({
            url: url + "/Home/GetNumber",
            type: "GET",
            dataType: "json",
            data: { "_MaCB": macb },
            success: function (result) {
                $("#number").text(result);
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
    }
    // Lưu số đã gọi trước đó
    function saveNumber(mastt) {
        $.ajax({
            url: url + "/Home/SaveNumber",
            type: "GET",
            dataType: "json",
            data: { "_MaSTT": mastt },
            success: function (result) {
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
    }
    // Khởi tạo thẻ audio gọi số thứ tự
    function createAudio(stt, soquay) {
        var str1 = '<audio controls="controls" hidden="hidden" id="xms"><source src="/sound/xin-moi-so.wav"  /></audio>';
        var str2 = stt.toString();
        for (var i = 0; i < str2.length; i++) {
            str1 += '<audio controls="controls" hidden="hidden" id=stt' + str2[i] + '><source src="/sound/' + str2[i] + '.wav"  /></audio>';
        }
        str1 += '<audio controls="controls" hidden="hidden" id="tqs"><source src="/sound/toi-quay-so.wav"  /></audio>';
        str1 += '<audio controls="controls" hidden="hidden" id="quay' + soquay + '"><source src="/sound/' + soquay + '.wav"  /></audio>';
        $("body").append(str1);
    }

    // Tạo cửa sổ đổi mật khẩu
    $("#window").kendoWindow({ title: "ĐỔI MẬT KHẨU" });
    // Tạo sự kiện đóng cửa sổ tự động khi load trang
    $("#window").data("kendoWindow").close();
    // Tạo sự kiện nút tiếp theo
    $("#btn-next").kendoButton();
    $("#btn-next").click(function () {
        if (!click_next) {
            if (macb != 0 && mabp != 0) {
                $.ajax({
                    url: url + "/Home/CallNumber",
                    type: "POST",
                    dataType: "json",
                    data: { "_MaCB": macb, "_MaBP": mabp },
                    success: function (result) {
                        $("audio").remove();
                        var js = JSON.parse(result);
                        if (result == false) {
                            alert("Hết số thứ tự để gọi");
                        } else {
                            mastt = js["MaSTT"];
                            $("#number").text(js["STT"]);
                            $("#title-number span").prop("id", js["MaSTT"]);
                            createAudio(js["STT"], mamay);

                            // Chạy audio tự động
                            var active = false;
                            $("audio").on("ended", function () {
                                var audio = $(this).next("audio");
                                if (audio.length) {
                                    audio.get(0).play();
                                } else {
                                    active = false;
                                }
                            });
                            //$('#open').on('click', function () {
                                if (!active) {
                                    $("audio")[0].play();
                                    active = true;
                                }
                            //});

                            click_next = true;
                            setTimeout(function () {
                                click_next = false;
                            }, 15000);
                        }
                        //saveNumber(js["MaSTT"]);
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                    }
                })
            }
        }
        $('#grid').data('kendoGrid').dataSource.read();
    })
    // Tạo sự kiện nút gọi lại =================================================
    $("#btn-again").kendoButton();
    $("#btn-again").click(function () {
        // Gọi lại
        // Chạy audio tự động
        var active = false;
        $("audio").on("ended", function () {
            var audio = $(this).next("audio");
            if (audio.length) {
                audio.get(0).play();
            } else {
                active = false;
            }
        });
        //$('#open').on('click', function () {
        if (!active) {
            $("audio")[0].play();
            active = true;
        }
                            //});
    })
    // Tạo sự kiện nút mở cửa sổ đổi mật khẩu
    $("#btn-change-pw").kendoButton();
    $("#btn-change-pw").click(function () {
        $("#window").data("kendoWindow").open().center();
        //$("#btn-change-pw").fadeOut();
    })
    // Tạo sự kiện nút đổi mật khẩu
    $("#btn-change").kendoButton();
    $("#btn-change").click(function () {
        var mkcu = $("#mk-cu input").val();
        var mkmoi1 = $("#mk-moi1 input").val();
        var mkmoi2 = $("#mk-moi2 input").val();
        if (mkcu.length == 0 || mkmoi1.length == 0 || mkmoi2.length == 0) { alert("Vui lòng điền đầy đủ mật khẩu") }
        else if (mkcu == mkmoi1) { alert("Mật khẩu mới không được trùng với mật khẩu cũ") }
        else if (mkmoi1 != mkmoi2) { alert("Mật khẩu nhập lại không đúng") }
        else {
            $.ajax({
                url: url + "/Home/ChangePW",
                type: "GET",
                dataType: "json",
                data: { "_MKCu": mkcu, "_MKMoi": mkmoi1 },
                success: function (result) {
                    if (result == true) { alert("Thay đổi thành công"); }
                    else { alert("Thay đổi không thành công"); }
                },
                error: function (xhr) { console.log(xhr.responseText); }
            })
        }
    })
    // Tạo sự kiện nút đăng xuất
    $("a[href$='/Login/Logout']").kendoButton()
    // Tạo sự kiện nút mở rộng bảng thống kê
    $("#open").click(function () {
        $('#grid').data('kendoGrid').dataSource.read();
        $("#black")[0].classList.toggle("move-right");
    })
    // Tạo sự kiện thu nhỏ bảng thống kê khi click vào mảng đen mờ
    $("#black-span").click(function () {
        console.log("click");
        $("#black")[0].classList.remove("move-right")
    })
    $(document).ready(function () {
        getInfo();
    })
</script>

<style>

    #window {
        font-size: 1.2em;
    }

    #mk-cu input, #mk-moi1 input, #mk-moi2 input {
        float: right;
        font-size: 1.2em;
    }
</style>
<link href="~/Content/style1.css" rel="stylesheet" />