@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Máy đánh giá</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.material.mobile.min.css" />
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
</head>
<body>
    <div id="container">
        <div class="header"><div>MÁY ĐÁNH GIÁ</div><div id="port"></div></div><span id="port-number"></span>
        <div class="body">
            <div id="left-title"><div>THÔNG TIN CÁN BỘ</div></div>
            <div id="right-title"><div></div></div>
            <div id="info">
                <div id="image"><input type="image" src="~/user.png" alt="Hình ảnh cán bộ" /></div>
                <div>
                    <div id="id-group">
                        <div>Mã số: </div>
                        <div id="id">123</div>
                    </div>
                    <div id="name-group">
                        <div>Họ tên: </div>
                        <div id="name">Nguyễn Văn A</div>
                    </div>
                    <div id="bo-phan-group">
                        <div>Bộ phận: </div>
                        <div id="bo-phan">Lĩnh vực tài nguyên và đất đai</div>
                        <span></span>
                    </div>
                </div>
            </div>
            <div id="number">
                <div id="number-title">SỐ ĐANG GỌI</div>
                <div id="show-number">0</div>
                <span></span>
            </div>
            <div id="review-group">
                <div>Xin vui lòng đánh giá</div>
                <div id="muc-do">
                    <div id="RHL">
                        <input type="image" src="~/happy.png" />
                        <div id="RHL-title">Rất hài lòng</div>
                    </div>
                    <div id="HL">
                        <input type="image" src="~/love.png" />
                        <div id="HL-title">Hài lòng</div>
                    </div>
                    <div id="BT">
                        <input type="image" src="~/smile.png" />
                        <div id="BT-title">Bình thường</div>
                    </div>
                    <div id="KHL">
                        <input type="image" src="~/angry.png" />
                        <div id="KHL-title">Không hài lòng</div>
                    </div>
                </div>
            </div>
            <div id="feedback-group">
                <div>Xin vui lòng chọn góp ý</div>
                <div id="feedback">
                    <div id="fbRHL">
                        <input type="checkbox" value="Thái độ cán bộ tốt" />
                        <span>Thái độ cán bộ tốt</span>
                    </div>
                    <div id="fbHL">
                        <input type="checkbox" value="Thời gian giải quyết nhanh" />
                        <span>Thời gian giải quyết nhanh</span>
                    </div>
                    <div id="fbBT">
                        <input type="checkbox" value="Giải quyết thủ tục hiệu quả" />
                        <span>Giải quyết thủ tục hiệu quả</span>
                    </div>
                    <div id="fbKHL">
                        <input type="checkbox" value="Kết quả như mong muốn" />
                        <span>Kết quả như mong muốn</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div id="footer-title"><input type="checkbox" />Góp ý khác</div>
            <div id="area-gop-y"><input id="txtArea" /></div>
            <div id="btn-send"><div><div id="send">GỬI</div></div></div>
        </div>
    </div>
    <div id="thanks">
        <div>CẢM ƠN BẠN ĐÃ ĐÁNH GIÁ</div>
    </div>
</body>
</html>

<script>
    $("#container").show();
    $("#thanks").hide();
    var url = window.location.origin;
    var muc_do = 0;
    var gop_y = "";
    var ma_stt = 0;
    var macb = 0;
    var mabp = 0;
    var mabn = 0;
    var mamay = 0;
    $("#area-gop-y").hide();
    $("#footer-title input").change(function () {
        if ($("#footer-title input").prop("checked")) {
            $("#area-gop-y").show();
        } else {
            $("#area-gop-y").hide();
        }
    })
    // Phương thức lấy thông tin danh sách mã máy
    function getPort() {
        var arr = new Array();
        $.ajax({
            url: url + "/Home/GetPort",
            type: "GET",
            dataType: "json",
            async: false,
            success: function (result) {
                var js = JSON.parse(result);
                $.each(js, function (key, val) {
                    var a = { "text": "QUẦY SỐ " + val, "value": val }
                    arr.push(a)
                })
                $(".body, .footer").hide();
                $("#port").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: arr,
                    select: onSelect
                })
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
    }
    // Tạo sự kiện cho hành động chọn của DropDownList
    function onSelect(e) {
        setInterval(function () {
            if (e.dataItem) {
                var dataItem = e.dataItem;
                mamay = dataItem.value;
                $("span.k-widget.k-dropdown.k-header").fadeOut();
                $("#port-number").text(dataItem.text);
                $.ajax({
                    url: url + "/Home/GetInfo",
                    type: "GET",
                    dataType: "json",
                    data: { "_MaMay": mamay },
                    success: function (result) {
                        var js = JSON.parse(result);
                        if (js["MaCB"] != macb) {
                            macb = js["MaCB"];
                            mabp = js["MaBP"];
                            $("#id").text(macb);
                            $("#name").text(js["HoTen"]);
                            $("#bo-phan").text(js["TenBP"]);
                            $("#image input").attr('src', `data:image/png;base64,${js["HinhAnh"]}`);
                            $("#container").show();
                            $("#thanks").hide();

                            $(".body, .footer").show();
                        }
                        goiSo();
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                    }
                })
            } else { }
        }, 1000)
    };
    // Phương thức gọi số thứ tự tự động
    function goiSo() {
        //setInterval(function () {
        $.ajax({
            url: url + "/Home/GetNumber",
            type: "GET",
            dataType: "json",
            data: { "_MaCB": macb, "_MaBP": mabp },
            success: function (result) {
                var js = JSON.parse(result);
                if (!js) {
                } else if (parseInt(js["STT"]) > parseInt($("#show-number").text())) {
                    $("#show-number").text(js["STT"]);
                    $("#number span").prop("id", js["MaSTT"]);
                    chonMucDo();
                    $("#fbRHL input, #fbHL input, #fbBT input, #fbKHL input").removeAttr("checked");
                    gop_y += $("#txtArea").prop("value", "");
                    muc_do = 0;
                    gop_y = "";
                    ma_stt = parseInt(js["MaSTT"]);

                    $("#container").show();
                    $("#thanks").hide();
                }
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })
        //}, 1000)
    }
    // Phương thức hiệu ứng chọn mức độ
    function chonMucDo() {
        $("#RHL").removeAttr("style");
        $("#HL").removeAttr("style");
        $("#BT").removeAttr("style");
        $("#KHL").removeAttr("style");
    }
    $("#send").kendoButton();
    $("#txtArea").kendoAutoComplete();
    $("#RHL").click(function () {
        chonMucDo();
        $("#RHL").prop("style", "background-color:#8999FF");
        muc_do = 1;
        $("#fbRHL input").prop("value", "Thái độ cán bộ tốt");
        $("#fbRHL span").html("Thái độ cán bộ tốt");
        $("#fbHL input").prop("value", "Thời gian giải quyết nhanh");
        $("#fbHL span").html("Thời gian giải quyết nhanh");
        $("#fbBT input").prop("value", "Giải quyết thủ tục hiệu quả");
        $("#fbBT span").html("Giải quyết thủ tục hiệu quả");
        $("#fbKHL input").prop("value", "Kết quả như mong muốn");
        $("#fbKHL span").html("Kết quả như mong muốn");
        $("div#feedback-group > div:first-child").html("Xin vui lòng chọn góp ý (Không bắt buộc)");
        $("div#feedback-group > div:first-child").prop("style", "color:black");
    });
    $("#HL").click(function () {
        chonMucDo();
        $("#HL").prop("style", "background-color:#8999FF");
        muc_do = 2;
        $("#fbRHL input").prop("value", "Thái độ cán bộ tốt");
        $("#fbRHL span").html("Thái độ cán bộ tốt");
        $("#fbHL input").prop("value", "Thời gian giải quyết nhanh");
        $("#fbHL span").html("Thời gian giải quyết nhanh");
        $("#fbBT input").prop("value", "Giải quyết thủ tục hiệu quả");
        $("#fbBT span").html("Giải quyết thủ tục hiệu quả");
        $("#fbKHL input").prop("value", "Kết quả như mong muốn");
        $("#fbKHL span").html("Kết quả như mong muốn");
        $("div#feedback-group > div:first-child").html("Xin vui lòng chọn góp ý (Không bắt buộc)");
        $("div#feedback-group > div:first-child").prop("style", "color:black");
    });
    $("#BT").click(function () {
        chonMucDo();
        $("#BT").prop("style", "background-color:#8999FF");
        muc_do = 3;
        $("#fbRHL input").prop("value", "Thái độ cán bộ bình thường");
        $("#fbRHL span").html("Thái độ cán bộ bình thường");
        $("#fbHL input").prop("value", "Thời gian giải quyết bình thường");
        $("#fbHL span").html("Thời gian giải quyết bình thường");
        $("#fbBT input").prop("value", "Giải quyết thủ tục tạm được");
        $("#fbBT span").html("Giải quyết thủ tục tạm được");
        $("#fbKHL input").prop("value", "Kết quả như bình thường");
        $("#fbKHL span").html("Kết quả như bình thường");
        $("div#feedback-group > div:first-child").html("Xin vui lòng chọn góp ý (Không bắt buộc)");
        $("div#feedback-group > div:first-child").prop("style", "color:black");
    });
    $("#KHL").click(function () {
        chonMucDo();
        $("#KHL").prop("style", "background-color:#8999FF");
        muc_do = 4;
        $("#fbRHL input").prop("value", "Thái độ cán bộ không tốt");
        $("#fbRHL span").html("Thái độ cán bộ không tốt");
        $("#fbHL input").prop("value", "Thời gian giải quyết chậm");
        $("#fbHL span").html("Thời gian giải quyết chậm");
        $("#fbBT input").prop("value", "Giải quyết thủ tục không hiệu quả");
        $("#fbBT span").html("Giải quyết thủ tục không hiệu quả");
        $("#fbKHL input").prop("value", "Kết quả không như mong muốn");
        $("#fbKHL span").html("Kết quả không như mong muốn");
        $("div#feedback-group > div:first-child").html("Xin vui lòng chọn góp ý (Bắt buộc)");
        $("div#feedback-group > div:first-child").prop("style", "color:red");
    });
    // Phương thức hiệu ứng chọn góp ý
    $("#fbRHL, #fbRHL input").click(function () {
        if ($("#fbRHL input").prop("checked")) { $("#fbRHL input").removeAttr("checked"); }
        else { $("#fbRHL input").prop("checked", "checked") }
    });
    $("#fbHL, #fbHL input").click(function () {
        if ($("#fbHL input").prop("checked")) { $("#fbHL input").removeAttr("checked"); }
        else { $("#fbHL input").prop("checked", "checked") }
    });
    $("#fbBT, #fbBT input").click(function () {
        if ($("#fbBT input").prop("checked")) { $("#fbBT input").removeAttr("checked"); }
        else { $("#fbBT input").prop("checked", "checked") }
    });
    $("#fbKHL, #fbKHL input").click(function () {
        if ($("#fbKHL input").prop("checked")) { $("#fbKHL input").removeAttr("checked"); }
        else { $("#fbKHL input").prop("checked", "checked") }
    });
    // Tạo sự kiện nút gửi
    $("#send").click(function () {
        if ($("#fbRHL input").prop("checked")) {
            gop_y += $("#fbRHL input").prop("value") + ";";
        }
        if ($("#fbHL input").prop("checked")) {
            gop_y += $("#fbHL input").prop("value") + ";";
        }
        if ($("#fbBT input").prop("checked")) {
            gop_y += $("#fbBT input").prop("value") + ";";
        }
        if ($("#fbKHL input").prop("checked")) {
            gop_y += $("#fbKHL input").prop("value") + ";";
        }
        gop_y += $("#txtArea").prop("value");
        if (muc_do == 0) {
            alert("Vui lòng chọn mức đánh giá");
            return;
        }
        if (muc_do == 4 && gop_y == "") {
            alert("Vui lòng nhập góp ý");
            return;
        }

        var dataSource = {
            "MaCB": $("#id").text(),
            "MucDo": muc_do,
            "GopY": gop_y,
            "MaSTT": ma_stt
        }

        $.ajax({
            url: url + "/Home/PostReview",
            type: "POST",
            dataType: "json",
            data: dataSource,
            success: function (result) {
                // Thành công
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        })

        chonMucDo();
        $("#fbRHL input, #fbHL input, #fbBT input, #fbKHL input").removeAttr("checked");
        gop_y += $("#txtArea").prop("value", "");

        muc_do = 0;
        gop_y = "";
        ma_stt = 0;

        $("#container").hide();
        $("#thanks").show();
    })
    $(document).ready(function () {
        getPort();
    })
</script>

<style>
    span.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
        width: 100%;
    }

    span.k-widget.k-dropdown.k-header {
        text-align: center;
        position: relative;
        float: right;
        top: 50%;
        /* left: 70%; */
        left: 0%;
        /*font-size: 1.5em;*/
        transform: translateY(-50%);
        /* height: 100%; */
    }
</style>
<link href="~/Content/style.css" rel="stylesheet" />